.content{
    /* background-color: beige; */
    /* border: 1px solid black; */
    border-radius: 20px;
    height: 650px;
    width: 500px;
    /* display: flex; */
	justify-content: center;
}

@media(min-height: 900px){
 .content{
    height: 700px;
    width: 500px;
 }   
}

.top-content{
    margin: 0 auto;
    justify-content: center;
}

#input{
    margin: 2em;
    width: 20rem;
    height: 2em;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 5px;
    background-color: white;
    color: black;
    font-size: large;
}

#input::placeholder{
    color: rgb(128, 127, 127);
}


#add-task{
    margin-right: 0;
    color: white;
    height: 2.5em;
    width: fit-content;
    background-color: rgb(79, 118, 236);
    border-radius: 5px;
    border: 2px solid balck;
    font-size: small;
    cursor: pointer;
    transition-duration: 500ms;
}

#add-task:enabled{
    background-color: rgb(11, 11, 241);
    border: 2px solid white;
    border-radius: 5px;
}

#add-task:hover{
    /* background-color: rgb(64, 163, 216); */
    background-color: rgb(0, 0, 103);
    transform: translateY(-5px);
    transition-duration: 500ms;
}

#add-task:hover:disabled{
    transform: none;
}

#add-task:disabled{
    background-color: rgb(168, 182, 226);
    border: none;
    color: grey;
}

/* .bottom-content{
    margin-left: 15px;
    justify-content: start;
    align-items: start;
    height: 80%;
    width: 94%;
    background-color: white;
    border-radius: 10px;
} */

.task {
    background-color: rgb(88, 5, 121);
    /* background: linear-gradient(rgb(4, 4, rgb(56, 9, 76), 95)); */
    color: white;
    font-size: larger;
    margin-top: 5px;
    height: fit-content;
    padding: 10px;
    justify-content: start;
    align-items: center;
    display: flex;
    padding-left: 5px;
    width: 90%;
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    text-align: left;
}


.task:hover{
    background-color: rgb(0, 0, 103);
}

.task-btn{
    border: none;
    background: none;
    width: 100%;
}

